body{
    background-color:  rgb(25,25,25);
    display: grid;
    grid-template-rows: 1fr 12fr 0.5fr;
    height: 100vh;
    margin: 0;
    color: white;
}

body>div{
    border: 1px solid grey;
}

.header{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    background-color: rgb(40,40,40);
}

    .title{
        font-size: 25pt;
    }

.main>div{
    border: 1px solid grey;
}

.main{
    display: grid;
    grid-template-columns: 1fr 6fr;
}

    .side-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
        .project-head{
            font-size: 20pt;
            font-weight: 800;
            
        }

        #project-main{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            font-size: 15pt;
        }

        .project-input{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

            .project{
                cursor: pointer;
            }
            

    .project-cont{
        border: 1px solid red;
        display: grid;
        grid-template-rows: 4fr 1fr;
    }
        .project-name-head{
            font-size: 20pt;
        }

        .btn-list{
            width: 100px;
        }

        .btn-del{
            width: 100px;
        }

#form-item{
    width: 500px;
    height: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 0;
    right: 0;
    border: 2px solid black;
    color: black;
    padding: 10px;
}

.content-child{
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
    .title-ui{
        grid-column: 1/2;
    }

    .note-ui{
        grid-column: 1/3;
        grid-row: 2/4;
    }

    .dueDate-ui{
        grid-column: 1/2;
        grid-row: 3/4
    }

    .priority-ui{
        grid-column: 2/3;
        grid-row: 3/4;
    }
